@import '../../assets/styles/constants.css';
/* Ticket Content Container */

.ticketContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Admin Ansers */
.adminAnswers {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.adminAnswers p:nth-child(odd) {
    background-color: white;
    border-radius: 8px;
    margin-top: 8px;
}

.adminAnswers p {
    padding: 5px;
}

.adminAnswers span {
    font-weight: bold;
    margin: 0 0 5px 5px;
}