.ticketListContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background-color: white;
    border-radius: 8px;
    padding: 40px;    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;

}

.ticketListContainer p {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 0 20px 0;
}

table {
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: var(--bg-color);
}