/* UserDetails CSS */

.detailsLeftContainer {
    display: flex;
    min-height: 60vh;
    flex-direction: column;
    justify-content: space-evenly;
}

p.ticketDetails {
    margin-bottom: 10px;
}

span.ticketDetailsTitle {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}